In [1]:
from contrans import contrans
import numpy as np
import pandas as pd
import dotenv
import json
import os
import requests
import psycopg
import sqlite3
from sqlalchemy import create_engine

dotenv.load_dotenv()

comgresskey = os.getenv('congresskey')
postgres_password = os.getenv('POSTGRES_PASSWORD')

In [2]:
ct = contrans()

In [3]:
ct.POSTGRES_PASSWORD

'doublecheeseburger'

In [4]:
dbserver, engine = ct.connect_to_postgres(ct.POSTGRES_PASSWORD, create_contrans=True)

In [5]:
engine

Engine(postgresql+psycopg://postgres:***@localhost:5432/contrans)

In [6]:
members = ct.get_bioguideIDs() # members from Congress API
members = ct.make_cand_table(members) # joining the contributions ID with the Congress API data
terms, members = ct.terms_df(members) # seperate the terms (non-atomic) data from members
ideology = ct.get_ideology() # get the ideologial data from voteview.com
ct.make_members_df(members, ideology, engine) # join members and ideologial and upload to postgres database

In [7]:
ct.make_terms_df(terms, engine)

In [8]:
votes = ct.get_votes()
ct.make_votes_df(votes, engine)

In [11]:
# SQL queries
myquery = """
SELECT *
FROM votes
"""
pd.read_sql(myquery, con=engine)

        congress chamber  rollnumber  icpsr  cast_code   prob
0            118   House           1  14854          6  100.0
1            118   House           1  14863          6   98.2
2            118   House           1  14873          1  100.0
3            118   House           1  15029          1  100.0
4            118   House           1  15433          1  100.0
...          ...     ...         ...    ...        ...    ...
510383       118   House        1173  31101          6   99.9
510384       118   House        1173  31102          1   99.6
510385       118   House        1173  39301          6  100.0
510386       118   House        1173  39307          6  100.0
510387       118   House        1173  91980          1   99.3

[510388 rows x 6 columns]